<p style="color: green"><%= notice %></p>

<h1>タスク管理アプリ</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <div class="task">
      <%= render task %>
      <p>
        <%= link_to "タスクの詳細", task %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "新規タスクを作成する", new_task_path %>
